---
layout: 2016_style

---

.tags {
    border-color: #bfbfbf;
    margin: 0;
    padding: 5px 0 15px;
    border-bottom: 1px solid #e0e0e0;
}
.tags a {
    color: #fff;
    border: 1px solid #6fa3ef;
    border-radius: 15px;
    background: #6fa3ef;
    margin-right: 10px;
    padding: 8px;
}
.blog-foot {
    overflow: hidden;
    margin: 25px -20px 0;
    padding: 25px 20px 20px;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    border-top: 1px solid #e0e0e0;
}
.blog-foot p {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    text-align:center;
}
.editormd-toc-menu{
margin: 8px 0 12px;
display: inline-block;
}
.markdown-toc{
    box-sizing: border-box;
}