<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <!-- style="background-image: url(css/2017_style/img/common/bigBai.gif);background-position: center;background-size: inherit;"-->
    <header>
        <div class="container">
            <div class="intro-text" style="color: silver;">
                <div class="intro-heading">W e l C o m e  <br></div>
                <!--<div class="intro-lead-in" style="color: rgba(190, 179, 23, 0.65);">{{ site.time | date: " %-d %B %Y"}}</div>-->
                <div class="intro-lead-in" style="line-height: inherit;font-size: 28px;color: rgba(239, 218, 13, 0.66);">The Javaer which writer JS is't a good BigDataer (╯‵□′)╯︵┻━┻  </div>
                <a href="#blogs" class="page-scroll btn btn-xl">Show Me More</a>
            </div>
        </div>
    </header>
    {% include 2017_data/blogs.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
<!--include 2017_data/about.html -->
